:host {
  footer {
    width: 100%;

    background-color: bisque;
    min-height: 44px;
    padding: 0.45rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    h6 {
      margin: 0;
      font-size: clamp(0.8rem, 2.8vw, 0.9rem);
      color: #333;
    }
  }
}
