<section class="about">
  <span>logo</span>
  <p>Especialista em Micropigmentação Natural</p>
</section>
<section class="map">
  <iframe
    class="map-frame"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.061114905125!2d-47.928531125089016!3d-15.800731184840581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3147c9d6240d%3A0x3e66de35be74961e!2sAndr%C3%A9a%20Raposo%20Studio%2F%20Micropigmenta%C3%A7%C3%A3o%20em%20Bras%C3%ADlia%2F%20Micropigmenta%C3%A7%C3%A3o%20Labial%2F%20Lash%20Lifting%2F%20Hidra%20Gloss!5e0!3m2!1spt-BR!2sbr!4v1767813932698!5m2!1spt-BR!2sbr"
    title="Mapa do estúdio"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
<section class="contact">
  <h4><strong>Contato</strong></h4>
  <div>
    <div class="pin">
      <fa-icon [icon]="icons.faLocationDot"></fa-icon>
      <p>CLSW 303 Bloco B Sala 10, St. Sudoeste, Brasília - DF, 70673-622</p>
    </div>
    <div class="phone">
      <fa-icon [icon]="icons.faPhone"></fa-icon>
      <p>(61) 9 9367-1141</p>
    </div>
  </div>
</section>
